html {
  scroll-behavior: smooth;
}

/* To hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
